<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         stopOnFailure="true">
    <testsuite name="all">
        <directory prefix="test_" suffix=".php">tests</directory>
    </testsuite>
</phpunit>